* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    background-color: #DFDBE5;
    background-image: url("data:image/svg+xml,%3Csvg width='42' height='44' viewBox='0 0 42 44' xmlns='http://www.w3.org/2000/svg'%3E%3Cg id='Page-1' fill='none' fill-rule='evenodd'%3E%3Cg id='brick-wall' fill='%239C92AC' fill-opacity='0.15'%3E%3Cpath d='M0 0h42v44H0V0zm1 1h40v20H1V1zM0 23h20v20H0V23zm22 0h20v20H22V23z'/%3E%3C/g%3E%3C/g%3E%3C/svg%3E");
}
.wrapper {
    background-color: #fff;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 55%;
    height: calc(-webkit-fit-content + 5%);
    height: calc(-moz-fit-content + 5%);
    height: calc(fit-content + 5%);
    padding: 10px 20px;
    background-color: rgba(255, 255, 255, 0.527);
    border-radius: 5px;
    box-shadow: 2px 2px 18px rgba(0, 0, 0, 0.2);
    display: flex;
    flex-direction: column;
    visibility: visible;

}
.wrapper>* {
    text-align: center;
}
.wrapper--quote {
    font-size: 32px;
    margin-bottom: 25px;
    font-family: 'Open Sans Condensed',
    sans-serif;
}

.wrapper--author {
    font-size: 22px;
    font-family: 'Chilanka',
    cursive;
    letter-spacing: 3px;
    font-style: italic;
    text-transform: capitalize;
    color: rgb(95, 95, 95);
    -webkit-text-decoration: underline rgb(94, 94, 255) dashed;
            text-decoration: underline rgb(94, 94, 255) dashed;
}
.wrapper--btn {
    margin-top: 36px;
    text-align: center;
}
.wrapper--generate {
    padding: 8px 12px;
    cursor: pointer;
    font-family:'Chilanka',
    cursive;
    font-size: 18px;
    border-radius: 10px 0 10px 0;
    border: 1px dashed rgba(65, 65, 255, 0.897);
    /* transition: all .2s; */
}
.wrapper--generate:hover {
    /* transition: all .2s; */
    border-radius: 0 10px 0 10px;
    border: 1px dashed rgba(65, 65, 255, 0.897);

}
.wrapper--generate:active {
    border: 1px dashed rgba(65, 65, 255, 0.897);
}
.circle-loading {
    visibility: hidden;
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 100px;
    height: 100px;
    border-radius: 50%;
    border: 10px solid rgba(58, 58, 58, 0.349);
    border-top: 10px solid rgba(136, 136, 255, 0.774);
    -webkit-animation: rotate 2s infinite linear;
            animation: rotate 2s infinite linear;
}

@-webkit-keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@keyframes rotate {
    0% {
        transform: translate(-50%, -50%) rotate(0deg);
    }

    100% {
        transform: translate(-50%, -50%) rotate(360deg);
    }
}

@media only screen and (max-width: 900px) {
    #quote {
        font-size: 40px;
    }
    .wrapper--quote {
        font-size: 26px;
    }
    .wrapper--btn {
        margin-top: 24px;
    }
    .wrapper--generate {
        font-size: 14px;
    }
    .wrapper {
       height: calc(-webkit-fit-content + 5%);
       height: calc(-moz-fit-content + 5%);
       height: calc(fit-content + 5%);
    }
    .wrapper--author {
        font-size: 18px;
    }
} 

@media only screen and (max-width: 700px) {
    #quote {
        font-size: 30px;
    }

    .wrapper--quote {
        font-size: 24px;
    }

    .wrapper--btn {
        margin-top: 14px;
    }

    .wrapper--generate {
        font-size: 14px;
    }

    .wrapper {
        height: calc(-webkit-fit-content + 5%);
        height: calc(-moz-fit-content + 5%);
        height: calc(fit-content + 5%);
        width: 65%;
    }

    .wrapper--author {
        font-size: 15px;
    }
    
}

@media only screen and (max-width: 500px) {
    #quote {
        font-size: 32px;
    }

    .wrapper--quote {
        font-size: 23px;
    }

    .wrapper--btn {
        margin-top: 18px;
    }

    .wrapper--generate {
        font-size: 14px;
    }

    .wrapper {
        height: calc(-webkit-fit-content + 5%);
        height: calc(-moz-fit-content + 5%);
        height: calc(fit-content + 5%);
        width: 85%;
    }

    .wrapper--author {
        font-size: 15px;
    }

}

@media only screen and (max-width: 350px) {
    #quote {
        font-size: 24px;
    }

    .wrapper--quote {
        font-size: 15px;
    }

    .wrapper--btn {
        margin-top: 15px;
    }

    .wrapper--generate {
        font-size: 10px;
    }

    .wrapper {
        height: calc(-webkit-fit-content);
        height: calc(-moz-fit-content);
        height: calc(fit-content);
        width: 98%;
    }
    .wrapper--author {
        font-size: 12px;
    }

}

@media only screen and (max-width: 160px) {
    .wrapper>* {
        font-size: 12px;
    }
    .wrapper--btn {
        padding: 3px 8px;
    }
}